
*{
    margin: 0;
    padding: 0;
    outline:solid 2px rgb(255, 255, 255);
    color:rgb(255, 255, 255);
}
body{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(#00203FFF,#ADEFD1FF);
    background-size:100vw;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.clockbody{
    position: relative;
    /* padding:auto; */
    width:100%;
    background-color: rgba(0, 31, 63, 0.427);
    color:rgb(255, 255, 255);
    border-radius: 10px;
}
.topdisplay{
    /* display:flex; */
    text-align: center;
}
#display{
    font-size: 5rem;
}
#milidisplay{
    font-size:2.5rem;
}
@media (max-width:426px) {
    #display{
        font-size:3rem;
    }
    #milidisplay{
        font-size:1.5rem;
    }
    .bts{
        width:2rem;
        height:2rem;
    }
    .bts i{
    font-size:1.5rem;
}
}
@media (max-width:280px) {
    #display{
        font-size:1.5rem;
    }
    #milidisplay{
        font-size:0.75rem;
    }
    .bts{
        width:0.9rem;
        height:0.9rem;
    }
    .bts i{
        
    font-size:1rem;
}
}

.bts{
    width:3rem;
    height:3rem;
    margin:0 2%;
}
.bts i{
    display:inline-block;
    font-size:2.5rem;
}
#lap{
    position: relative;
    bottom:0;
    right:0;
    font-size:1.5rem;
    overflow: hidden;
}
.ri-flag-fill{
    color:red;
}
#start{
    background-color: green;
    border-radius: 50%;
}
#start i{
    color:white;
}
#pause{
    display: none;
    background-color: orange;
    border-radius: 50%;
}
#pause i{
    color:black;
}
#reload{
    background-color: red;
    border-radius: 50%;
}
#reload i{
    color:white;
}
#reload:active{
    animation: anim;
    animation-duration: 1s;
}
@keyframes anim{
    0%{
        transform: rotate(0deg);
        transition-duration: 3s;
        animation-duration: 3s;
    }
    60%{
        transform: rotate(216deg);
        transition-duration: 3s;
    }
    80%{
        transform: rotate(288deg);
        transition-duration: 3s;
    }
}
.laptable{
    
    margin: auto;
    padding:auto;
}
#laptab{
    display:none;
    border-collapse: collapse;
    background-color: rgba(173, 239, 209, 0.518);
}
.laptable td ,tr{
    color:black;
    border-collapse: collapse;
}